<header class="container">
    <div class="box1">
        <a href="{{ path('home') }}">
            <img class="banner_img" src="{{ asset('assets/images/logo.png') }}" alt="logo web développeur">
        </a>

        <nav class="banner_nav">

            <a class="banner_link" href="{{ path('home') }}">Accueil</a>
            <a class="banner_link" href="{{ path('home') }}#project">Créations</a>
            <a class="banner_link" href="{{ path('service') }}">Service</a>
            <a class="banner_link" href="{{ path('team') }}">l'équipe</a>
            <a class="banner_link" href="{{ path('home') }}#contact">Contact</a>
        </nav>
    </div>
</header>
