<section class="section_Four">
    <div class="section_four_container">
        <div class="section_four_box1">
            <img class="section_four_box1_img" src="{{ asset('assets/images/ecran-copie.png') }}" alt="">
            <h2 class="section_four_title">Responsive Web Design</h2>
            <p class="section_four_paragraphe" >Adapter votre site à tout type d'appareil de manière transparente pour l'utilisateur </p>
        </div>
        <div>
            <img class="section_four_box_border" src="{{ asset('assets/images/separateur.png') }}" alt="">
        </div>
        <div class="section_four_box2">
            <h2 class="section_four_title">Web Developpement</h2>
            <div class="section_four_img">
                <img class="section_four_box2_img" src="{{ asset('assets/images/html.png') }}" alt="">
                <img class="section_four_box2_img" src="{{ asset('assets/images/css.png') }}" alt="">
                <img class="section_four_box2_img" src="{{ asset('assets/images/php.png') }}" alt="">
                <img class="section_four_box2_img" src="{{ asset('assets/images/js.png') }}" alt="">
            </div>
            <p class="section_four_paragraphe">L'utilisation des langages informatique pour écrire des programmes en fonction des besoins de chaque
                projets</p>
        </div>

    </div>
</section>